# Ignore everything in root
/*
!.gitignore

# Allow wp-content directory
!/wp-content/

# Ignore everything inside wp-content
/wp-content/*

# Allow themes directory
!/wp-content/themes/

# Ignore everything inside themes
/wp-content/themes/*

# Allow specific themes
!/wp-content/themes/mymedi/
!/wp-content/themes/mymedi-child/
